* {
    margin: 0;
    padding: 0;
}



.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.searchbox {
    position: absolute;
}

    .searchbox .input {
        background: #fff;
        width: 600px;
        border: 0px;
        height: 40px;
        padding: 0px 20px;
        border-radius: 50px;
        /*box-shadow: 0 0 15px 1px #b6bbc0;*/
        outline: none;
        color: #2fdf7a;
        font-weight: bold;
        font-size: 24px;
        transition: all 0.5s linear;
    }

.searchbtn {
    position: absolute;
    top: 0;
    right: 0px;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s 0.6s linear;
}

    .searchbtn .fas {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: #2fdf7a;
        font-size: 22px;
        transition: all 0.5s 0.6s linear;
    }

    /* jquery class */
    .searchbtn.bg-green {
        background: #2fdf7a;
        transition: all 0.2s linear;
    }

    .searchbtn .fas.color-white {
        color: #56147F;
        transition: all 0.2s linear;
    }

.searchbox .input.active-width {
    width: 600px;
}
